[submodule "submodules/blurSkin"]
	path = submodules/blurSkin
	url = https://github.com/guibab/blurSkin
	branch = master
[submodule "submodules/brSkinBrush"]
	path = submodules/brSkinBrush
	url = https://github.com/guibab/brSkinBrush
	branch = master
[submodule "submodules/mPaintEditor"]
	path = submodules/mPaintEditor
	url = https://github.com/guibab/mPaintEditor
	branch = master
[submodule "submodules/mWeightEditor"]
	path = submodules/mWeightEditor
	url = https://github.com/guibab/mWeightEditor
	branch = master
[submodule "submodules/wireframeDisplay"]
	path = submodules/wireframeDisplay
	url = https://github.com/guibab/wireframeDisplay
	branch = master
